.conteynir {
    border: 5px solid rgb(81, 255, 0);
    width: 160px;
    height: 160px;
}
.name {
    display: inline-block;
}
@keyframes syrish {
    0%{ transform: translateX(0px);
    }
    70%{ transform: translateX(400px) rotate(10deg);
    }
    80%{ transform: translateX(500px) rotate(10deg);
    }
    100%{ transform: translateX(600px) rotate(10deg);
    }
}